name: CI
on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "main" ]
jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo "smoke test ok"